body {
    background-color: #333333;
    font-family: Serif ;
}
.product {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* .cardItem {
    margin: 0% 1%;
} */
.custom-button {
    width: 100%;
}
.custom-badger {
    width: 37%;
    font-size: large;
}